.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
body {
    color: #246ea6;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
body.layoutRTL {
    direction: rtl;
    text-align: right;
}
#appMain {
    /* max-width: 650px;
    margin: 0px auto; */
}
#btnPwa {
    display: block;
    background: url(../images/iconInstall.png) right center / auto 30px no-repeat;
    margin: 10px;
    border-bottom: 6px solid #408ac9;
}
#btnPwa #btnPwaInner {
    display: block;
    background: url(../images/icons/icon-72x72.png) left center / 30px auto no-repeat;
    padding: 10px 0px 10px 38px;
    cursor: pointer;
    text-align: left;
}
.layoutRTL #btnPwa {
    display: block;
    background: url(../images/iconInstall.png) left center / auto 30px no-repeat;
    margin: 10px;
    border-bottom: 6px solid #408ac9;
}
.layoutRTL #btnPwa #btnPwaInner {
    display: block;
    background: url(../images/icons/icon-72x72.png) right center / 30px auto no-repeat;
    padding: 10px 38px 10px 0px;
    cursor: pointer;
    text-align: right;
}
#loginContainer {
    background: url(../images/loginIconSmall.png) left top no-repeat;
    padding-left: 45px;
    height: 40px;
    line-height: 40px;
}
#headerMain { }
#headerMain #headerContainer {
    display: flex;
    height: 95px;
    padding:0px 10px;
    align-items: center;
}
#headerMain #headerContainer #headerLogo {
    background: url(../images/Theme/IFC-LogoEnglish.jpg) left center / auto 64px no-repeat;
    min-width: 160px;
    height: 100%;
}
.layoutRTL #headerMain #headerContainer #headerLogo {
    background: url(../images/Theme/Logo-Title-Hebrew.png) right center / auto 64px no-repeat;
}
#headerMain #headerContainer #headerNav {
    flex: 1;
    font-size: 18px;
}
#headerLogo { order:1 }
#headerNav { order:2 }
#headerLang { order:3 }
#headerMain #headerContainer #headerLang {
    width: 100px;
}
#headerMain #headerContainer #headerLang span.sliderText span {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: #000000;
}
#headerMain #headerContainer #headerLang:hover span.sliderText span {
    border-bottom: 2px solid #408ac9;
    /* color: #408ac9; */
}
#headerMain #headerContainer #headerLang select {
    width: 100%;
}
#menuIcon {
    display: none;
    margin-top: 7px;
}
#menuIcon div {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    cursor: pointer;
}
#headerMain #headerContainer #headerNav ul,
#headerMain #headerContainer #headerNav li {
    margin:0px;
    text-indent: 0px;
    list-style: none;
}
#headerMain #headerContainer #headerNav ul {
    display: flex;
    margin: 0px 20px;
    padding:0px;
}
#headerMain #headerContainer #headerNav li {
    flex: 1;
    margin: 0px 3px;
    padding:3px 5px;
    text-align: center;
    white-space: nowrap;
    cursor:pointer;
    color: #333333;
}
#headerMain #headerContainer #headerNav li span {
    display: inline-block;
    margin-top:2px;
    margin-bottom:2px;
    padding-bottom:3px;
    border-bottom:2px solid transparent;
}
#headerMain #headerContainer #headerNav li:hover span {
    /* color: #408ac9; */
    border-bottom:2px solid #408ac9;
}
#headerMain #headerContainer #headerNav li.selected:hover span {
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
}
#headerMain #headerContainer #headerNav li.selected:hover,
#headerMain #headerContainer #headerNav li.selected {
    background-color: #343d46;
    color: white;
}
#footerMain {
    position: relative;
    height: 80px;
    background-color: #2a2f36;
    color: #ffffff;
}
#footerMain .copyright {
    position: absolute;
    bottom: 0px;
    left:0px;
    right:0px;
    padding:8px;
    direction: ltr;
    text-align: center;
    font-size: 14px;
    color: #c5d1d8;
}
#contentMain {}
#contentMain #contentContainer {
    display: flex;
}
#contentMain #contentContainer main.contentFbPage {
    /* height: 465px; */
}
#contentMain #contentContainer main.contentFbPage .fbPageHeader {
    height: 40px;
    line-height: 40px;
    background: url(../images/icons/FB-icon-box-white.png) 1% center / 24px auto no-repeat, url(../images/icons/FB-icon-box-white.png) 99% center / 24px auto no-repeat;
    background-color: #4267b2;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
#contentMain #contentContainer main.contentFbPage .fbPageWrapper {
    display: inline-block;
    width:340px;
    height: 465px;
    vertical-align: top;
}
#contentMain #contentContainer main.contentFbPage .fbPageLeftCover,
#contentMain #contentContainer main.contentFbPage .fbPageRightCover {
    display: inline-block;
    width: calc(50% - 174.5px);
    height: 465px;
    background-color: #4267b2; 
    vertical-align: top;
}
#contentMain #contentContainer main.contentAbout #aboutHeader {
    position: relative;
}
#contentMain #contentContainer main.contentAbout #ifcTeamPic {
    width: 100%;
}
#contentMain #contentContainer main.contentAbout #teamPicText {
    margin:0px;
    padding: 18px 0px;
    background-color: #f3f5f8;
    color:#333333;
}
#contentMain #contentContainer main.contentAbout #teamPicText h2 {
    margin: 3% 6% 3% 6%;
    font-weight: normal;
}
#contentMain #contentContainer main.contentAbout #teamPicText span.title {
    display: block;
    font-weight: bold;
}
#contentMain #contentContainer main.contentAbout .planLinks {
    padding: 6%;
}
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink {
    display: inline-block;
    background: url(../images/icons/arrowRight.png) right 3px / 32px auto no-repeat;
    padding-right: 45px;
}
.layoutRTL #contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink {
    background: url(../images/icons/arrowLeft.png) left 3px / 32px auto no-repeat;
    padding-right: 0px;
    padding-left: 45px;
}
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:link,
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:visited,
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:hover,
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:active {
    text-decoration: none;
    color: #246ea6;
}
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:link .planUpdateDate,
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:visited .planUpdateDate,
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:hover .planUpdateDate,
#contentMain #contentContainer main.contentAbout .planLinks a.planUpdateLink:active .planUpdateDate {
    text-decoration: none;
    color: #a5b03f;
}

/* The slider */
#langSlider {
    position: relative;
    height: 33px;
    width: 100px;
    text-align: right;
}
.layoutRTL #langSlider {
    text-align: left;
}
#langSlider input {
    margin:10px;
    z-index: -1;
}
#langSlider input:disabled {
    border-color: white;
    background-color: white;
    color: white;
}
#langSlider .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1;
  }
  #langSlider .sliderText {
    position: absolute;
    background-color: #FFFFFF;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    text-indent: 37px;
    font-size: 18px;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 0;
  }
  
  #langSlider .slider:before {
    position: absolute;
    content: "";
    background: url(../images/iconUsFlagRoundSquare.png);
    height: 29px;
    width: 29px;
    left: 3px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background-color: #2196F3;
  } */
  
  #langSlider input:focus + .slider {
    box-shadow: 0 0 1px #FFFFFF;
  }
  
  #langSlider input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
    background: url(../images/iconIlFlagRoundSquare.png);
  }
  
  /* Rounded sliders */
  #langSlider .slider.round {
    border-radius: 34px;
  }
  
  #langSlider .slider.round:before {
    border-radius: 50%;
  }

  #appMain .contentAbout,
    #appMain .contentFbPage,
    #appMain .contentCalendar,
    #appMain .contentDonate {
        display: none;
    }

    #appMain.donate .contentDonate,
    #appMain.about .contentAbout,
    #appMain.calendar .contentCalendar,
    #appMain.fbPage .contentFbPage  {
        position: relative;
        display: block;
        width: 100%;
    }
    #appMain .contentDonate {
        margin:0px auto;
    }
    #appMain .contentDonate .donationImage {
        position: relative;
        margin-bottom: 10px;
    }
    #appMain .contentDonate .donationImage #mainPhotoStreetMeetup {
        /* opacity: .2; */
    }
    #appMain .contentDonate .donateButtons {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0px;
        right: 0px;
        padding: 5% 0px;
        background-color: rgba(0,0,0,.5);
    }
    #appMain .contentDonate .donateButton {
        display: inline-block;
        text-align: center;
    }
    #appMain .contentDonate .donateTitle {
        /* max-width: 600px; */
        margin:0px 5% 0px 5%;
        text-align: center;
        font-size: 1.8em;
        color: #FFFFFF;
        text-shadow: .6px .6px #999;
    }
    #appMain .contentDonate .donateButton {
        display: inline-block;
        margin:0px 5px 10px 5px;
        padding:5px 18px;
        border-radius: 3px 3px 3px 3px;
        background-color: #343d46;
        cursor: pointer;
    }
    #appMain .contentDonate .donateButton .donateButtonText {
        font-size: 1.2em;
        color:#FFFFFF;
    }
    .suportOrg {
        /* white-space: nowrap; */
        /* margin-top:5px;
        margin-bottom:25px; */
    }
    .supportOrgWrapper {
        background-color: #FFFFFF;
        padding: 10px 0px;
        margin: 6px 2%;
    }
    .suportOrg div.orgTitle {
        display: inline-block;
        color: #333333;
    }
    .supportOthers {
        background-color: #f3f5f8;
        padding-bottom: 20px;
    }
    .supportOthers h2 {
        display: inline-block;
        width: 90%;
        max-width: 450px;
        margin-bottom:25px;
    }
    .supportOthers p {
        margin: 0px;
        padding: 0px;
    }
    .groupLinkedIcons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 4px 7px 4px 7px;
    }
    .groupLinkedIcons a {
        display: inline-block;
    }
    .groupLinkedIcons a:link,
    .groupLinkedIcons a:visited,
    .groupLinkedIcons a:hover,
    .groupLinkedIcons a:active {
        color: #888888;
    }
    .groupLinkedIcons .iconDivider {
        display: inline-block;
        width: 1px;;
        height: 18px;;
        border-left: 1px solid #CCCCCC;
        margin-left:5px;
        margin-right:5px;
    }
    .groupLinkedIcons .iconFacebook,
    .groupLinkedIcons .iconWebsite,
    .groupLinkedIcons .iconEmail {
        display: inline-block;
        background-size: contain;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    .groupLinkedIcons .iconFacebook { background-image: url(../images/icons/icon-facebook.png) }
    .groupLinkedIcons .iconWebsite { background-image: url(../images/icons/icon-website.png) }
    .groupLinkedIcons .iconEmail { background-image: url(../images/icons/icon-email.png) }
    .groupLinkedIcons .iconDonate { 
        display: inline-block;
        font-size: 14px;
    }
    .groupLinkedIcons a:hover .iconFacebook { background-image: url(../images/icons/icon-facebook-blue.png) }
    .groupLinkedIcons a:hover .iconWebsite { background-image: url(../images/icons/icon-website-blue.png) }
    .groupLinkedIcons a:hover .iconEmail { background-image: url(../images/icons/icon-email-blue.png) }
    .groupLinkedIcons a:hover .iconDonate { 
        color: #106fb3;
    }
    .groupBanner img {
         max-width: 45%;
         margin-bottom: 7px;
    }
    #contentMain #contentContainer main.contentCalendar div.calendarHeader {
        margin-bottom: 2%;
    }
    #contentMain #contentContainer main.contentCalendar img#calendarHeader {
        position: relative;
    }
    #contentMain #contentContainer main.contentCalendar img#calendarHeaderImage {
        width: 100%;
    }

  @media only screen and (max-width: 740px) {
    #appMain #menuIcon { display: inline-block; }
    #appMain #headerMain #headerContainer #headerLogo { order:1; }
    #appMain #headerMain #headerContainer #headerNav { order:3; position: relative; width: 35px; flex:unset; }
    #appMain #headerMain #headerContainer #headerLang {
        display: flex;
        order:2;
        width:auto;
        margin: 0px 20px;
        flex:1;
        justify-content: flex-end;
    }
    #appMain #headerMain #headerContainer #headerNav ul {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0px;
        width: 150px;
        margin:0px;
        padding:5px;
        border:1px solid rgba(0,0,0,.2);
        border-radius: 3px 3px 3px 3px;
        background-color: #FFFFFF;
        z-index: 1;
    }
    #appMain #headerMain #headerContainer #headerNav.showMenu ul {
        display: block;
    }
    .layoutRTL #appMain #headerMain #headerContainer #headerNav ul {
        right: auto;
        left: 0px;
    }
    #appMain #headerLang {
        flex:1;
    }
    #appMain .contentDonate .donateTitle {
        font-size: 1.3em;
    }
  }
  @media only screen and (max-width: 430px) {
    #contentMain #contentContainer main.contentFbPage .fbPageLeftCover,
    #contentMain #contentContainer main.contentFbPage .fbPageRightCover {
        background-color: #FFFFFF;
    }
    #appMain .contentDonate .donateTitle {
        font-size: 1.1em;
    }
  }