.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
body {
    color: #408ac9;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding: 0px;
}
body.layoutRTL {
    direction: rtl;
    text-align: right;
}
#btnPwa {
    display: inline-block;
    margin: 10px 0px;
    padding: 20px 10px;
    border-radius: 3px 3px 3px 3px;
    background-color: #408ac9;
    color: #FFFFFF;
    cursor: pointer;
}
#loginContainer {
    background: url(../images/loginIconSmall.png) left top no-repeat;
    padding-left: 45px;
    height: 40px;
    line-height: 40px;
}
#headerMain {}
#headerMain #headerContainer {
    display: flex;
    height: 50px;
    padding:10px 20px;
    align-items: center;
}
#headerMain #headerContainer #headerLogo {
    background: url(../images/Theme/Liberalim-Web-Logo.jpg) left center / 122.4px 50px no-repeat;
    min-width: 122.4px;
    height: 100%;
}
.layoutRTL #headerMain #headerContainer #headerLogo {
    background-position: right center;
}
#headerMain #headerContainer #headerNav {
    flex: 1;
}
#headerMain #headerContainer #headerLang {
    width: 100px;
}
#headerMain #headerContainer #headerLang select {
    width: 100%;
}
#contentMain {}
#contentMain #contentContainer {
    display: flex;
}
#contentMain #contentContainer main {
    width:340px;
    /* border:1px solid blue; */
}
#contentMain #contentContainer aside {
    width:calc(100% - 340px);
    padding-left: 1%;
    /* border:1px solid green; */
}
#contentMain #contentContainer aside #teamPic {
    position: relative;
}
#contentMain #contentContainer aside #liberalimTeamPic {
    width:100%;
}
#contentMain #contentContainer aside #teamPicText {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    max-height: 70%;
    padding: 5px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
#contentMain #contentContainer aside #teamPiclabel {
    position: absolute;
    bottom: -20px;
    right: 0px;
    left: 0px;
    height: 24px;
    line-height: 24px;
    padding:0px 10px;
    background-color: #408ac9;
    color: #FFFFFF;
}

/* The slider */
#langSlider {
    position: relative;
    height: 33px;
    width: 100px;
    text-align: right;
}
.layoutRTL #langSlider {
    text-align: left;
}
#langSlider input {
    margin:10px;
    z-index: -1;
}
#langSlider .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1;
  }
  #langSlider .sliderText {
    position: absolute;
    background-color: #FFFFFF;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    text-indent: 37px;
    font-size: 20px;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 0;
  }
  
  #langSlider .slider:before {
    position: absolute;
    content: "";
    background: url(../images/iconUsFlagRoundSquare.png);
    height: 29px;
    width: 29px;
    left: 3px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background-color: #2196F3;
  } */
  
  #langSlider input:focus + .slider {
    box-shadow: 0 0 1px #FFFFFF;
  }
  
  #langSlider input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
    background: url(../images/iconIlFlagRoundSquare.png);
  }
  
  /* Rounded sliders */
  #langSlider .slider.round {
    border-radius: 34px;
  }
  
  #langSlider .slider.round:before {
    border-radius: 50%;
  }